# Obsidian
.obsidian/
.obsidian/workspace
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/plugins/
.obsidian/app.json
.obsidian/cache
.trash/

# OS
.trash/
.DS_Store
Thumbs.db

# 임시 파일
*.tmp
*.log
